<div class="card">
  <div class="card-header">
      <span class="text-muted small float-end" >ID: {{ data.id }}</span>
      <h6 class="mb-0">
          <i class="fa fa-list"></i>
          <b>Annotation Set:</b> {{ data.name }}
{#          <span class="badge bg-{{ 'success' if data.is_public else 'danger' }}">#}
{#              {{ 'Public' if data.is_public else 'Private' }}#}
{#          </span>#}
      </h6>
      {% if data.description %}
          <p class="text-muted small">{{ data.description }}</p>
      {% endif %}
  </div>
  <div class="card-body p-2 small">
    <div class="row">
      <div class="col-5">
        <h6 class="mb-1 small">SQBOT PERMISSIONS</h6>
        <ul class=" list-group list-group-flush">
          <li class="list-group-item p-1">
            <i class="fa fa-edit"></i> Can Edit:
            <span class="badge bg-{{ 'success' if data.current_user_can_edit else 'danger' }}">
              {{ 'Yes' if data.current_user_can_edit else 'No' }}
            </span>
          </li>
          <li class="list-group-item p-1">
            <i class="fa fa-eye"></i> Can View:
            <span class="badge bg-{{ 'success' if data.current_user_can_view else 'danger' }}">
              {{ 'Yes' if data.current_user_can_view else 'No' }}
            </span>
          </li>
          <li class="list-group-item p-1">
            <i class="fa fa-user"></i> Is Owner:
            <span class="badge bg-{{ 'success' if data.current_user_is_owner else 'danger' }}">
              {{ 'Yes' if data.current_user_is_owner else 'No' }}
            </span>
          </li>
{#          <li class="list-group-item p-1">#}
{#            <i class="fa fa-users"></i> Is Member:#}
{#            <span class="badge bg-{{ 'success' if data.current_user_is_member else 'danger' }}">#}
{#              {{ 'Yes' if data.current_user_is_member else 'No' }}#}
{#            </span>#}
{#          </li>#}
          <li class="list-group-item p-1">
            <i class="fa fa-users"></i> Is Public:
            <span class="badge bg-{{ 'success' if data.is_public else 'danger' }}">
              {{ 'Yes' if data.is_public else 'No' }}
            </span>
          </li>
        </ul>
      </div>
      <div class="col-7">
        <h6 class="mb-1 small">MEDIA / POINTS</h6>
        <ul class=" list-group list-group-flush">
          <li class="list-group-item p-1">
            <strong>Media Items:</strong> <span>{{ data.media_count }}</span>
          </li>
          <li class="list-group-item p-1">
            <strong>Total Points:</strong> {{ data.point_count }}
          </li>
          <li class="list-group-item p-1">
            <strong>Unannotated Points:</strong> {{ data.unannotated_point_count }}
          </li>
          <li class="list-group-item p-1">
            <strong>Annotations:</strong> {{ data.annotation_count }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h6 class="mb-1 small">DETAILS</h6>
        <ul class=" list-group list-group-flush">
          <li class="list-group-item p-1">
            <b>Owner:</b> {{ data.user.first_name }} {{ data.user.last_name }}
          </li>
          <li class="list-group-item p-1">
            <strong>Media Collection:</strong> {{ data.media_collection.name }}
          </li>
          <li class="list-group-item p-1">
            <strong>Label Scheme:</strong> {{ data.label_scheme.name }}
          </li>
          <li class="list-group-item p-1">
            <strong>Created:</strong> {{ data.created_at }}
          </li>
          <li class="list-group-item p-1">
            <strong>Type:</strong> {{ data.data.type }}
          </li>
          <li class="list-group-item p-1">
            <strong>Scoring intent:</strong>
              {{ 'Full biodiversity' if data.is_full_bio_score else 'Targeted object(s)' }}
          </li>
          <li class="list-group-item p-1">
            <strong>Dataset objective:</strong>
              {{ 'For science' if data.is_real_science else 'Experimental' }}
          </li>
          <li class="list-group-item p-1">
            <strong>Status:</strong>
              {{ 'Finalised' if data.is_final else 'Work-in-progress' }}
          </li>
          <li class="list-group-item p-1">
            <strong>QA/QC:</strong>
              {{ 'Complete' if data.is_qaqc else 'Not Complete' }}
          </li>
        </ul>
      </div>
    </div>
  </div>
{#  <div class="card-footer d-flex justify-content-between p-2">#}
{#      <span class="text-muted "><b>Owner:</b> {{ data.user.first_name }} {{ data.user.last_name }}</span>#}
{#  </div>#}
</div>

{% if data.children %}
<div class="card mt-3">
  <div class="card-header">
      <h6 class="mb-0">
          <i class="fa fa-list"></i>
          Existing supplementary Annotation Sets
      </h6>
      <em class="text-muted small">
          The Annotation Set above already has the following supplementary sets.
      </em>
  </div>
  <div class="card-body p-2 small">
    <ul class=" list-group list-group-flush">
        {% for c in data.children %}
        <li class="list-group-item p-1">
            <strong>[{{ c.id }}] {{ c.name }}</strong><em class="small text-muted">{{ ": "~c.description if c.description else ""}}</em>
        </li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
