<div id="{{ uuid }}">
    <div class="card">
        <div class="card-header">
            <h6 class="mb-0">
                <i class="fa fa-robot fa-fw"></i> Available Models</h6>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for model_name, model_info in data.items() %}
                    <li class="list-group-item">
                        <button class="btn btn-sm btn-success btn-run-model float-end" data-model="{{ model_name }}">
                            Launch
                        </button>
                        <div>
                            <strong>{{ model_info.name }}:</strong>
                            {#            <br><small>Config: {{ model_info.cfg }}</small>#}
                        </div>
                        <em class="small">{{ model_info.description }}</em>
                        <div class="small xs text-muted">
                            {#        <strong>ACTIONS:</strong>#}
                            {% for k,v in model_info.properties.items() %}
                                {% if v %}
                                    <span class=""><i class="fa fa-check-square fa-fw"></i> {{ k }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="small text-muted">
                            <i class="fa fa-user fa-fw"></i> Contributed by: {{ model_info.author }}<br>
                            <i class="fa fa-robot fa-fw"></i> Bot: {{ model_info.bot }}
                        </div>
                        <div class="small text-muted">
                            {% if model_info.bot_parameters.non_supplementary or
                                model_info.properties.create_points or
                                model_info.properties.create_bboxes or
                                model_info.properties.create_polygons %}
                                <b class="text-danger"><i class="fa fa-exclamation-triangle fa-fw"></i>WARNING:</b>
                                this model add / modifies annotations &amp; points in the original annotation_set.
                            {% else %}
                                <i class="fa fa-info-circle fa-fw text-success"></i> This model creates a supplementary set with label suggestions.
                            {% endif %}
                        </div>

                        {#          <p class="small text-muted">#}
                        {#            <span class="badge bg-{{ 'success' if model_info.run_as_process else 'warning' }}">#}
                        {#                {{ 'PROCESS' if model_info.run_as_process else 'THREAD' }}#}
                        {#            </span>#}
                        {#              lksajdlk sjflkjaslkfjsd#}
                        {#          </p>#}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var $container = $("#{{ uuid }}");
            var $model_buttons = $container.find('.btn-run-model');

            $model_buttons.on('click', function () {
                var modelName = $(this).data('model');
                var token = "{{ request.args.get('token') }}"; // Get token from request args

                $.ajax({
                    url: "/model/" + modelName + "/" + token,
                    method: "POST",
                    success: function (response) {
                        alert("Model " + modelName + " has been triggered successfully!");
                        // You can replace alert with other UI updates like showing progress, etc.
                    },
                    error: function (xhr, status, error) {
                        alert("Error running model " + modelName + ": " + error);
                    }
                });
            });
        });
    </script>
</div>