<!-- CPU and RAM Usage Section -->
<div class="mb-3">
  <h6><i class="fas fa-fw fa-microchip"></i> Server Resources</h6>
  <div class="d-flex align-items-center mb-2">
    <strong class="me-2">CPU:</strong>
    <div class="progress w-100" style="height: 16px;">
      <div class="progress-bar bg-info" role="progressbar" style="width: {{ data.cpu }}%;" aria-valuenow="{{ data.cpu }}" aria-valuemin="0" aria-valuemax="100">
        {{ data.cpu }}%
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <strong class="me-2">RAM:</strong>
    <div class="progress w-100" style="height: 16px;">
      <div class="progress-bar bg-success" role="progressbar" style="width: {{ data.ram }}%;" aria-valuenow="{{ data.ram }}" aria-valuemin="0" aria-valuemax="100">
        {{ data.ram }}%
      </div>
    </div>
  </div>
</div>

<!-- Queued Tasks Section -->

<!-- Queued Tasks Section -->
<div class="mb-3">
{#  CPU: {{ data.cpu }}, RAM: {{ data.ram }}#}
  <h6><i class="fas fa-fw fa-list-ol"></i> Queued Tasks</h6>
  {% if data.queued_tasks %}
    <ul class="list-group">
      {% for task_id, task_info in data.queued_tasks.items() %}
        <li class="list-group-item bg-dark text-white small">
          <i class="fa fa-hourglass float-end"></i>
          <strong> {{ task_info.model_name }}</strong><br>
          <small class="text-muted"><strong>ID:</strong> {{ task_id }}</small><br>
          <small class="text-muted">Queued: {{ task_info.queued_at }}</small>
{#          <div class="d-flex justify-content-between align-items-center">#}
{#            <div>#}
{#              <strong>Model:</strong> {{ task_info.model_name }}<br>#}
{#              <small class="text-muted"><strong>ID:</strong> {{ task_id }}</small><br>#}
{#              <small class="text-muted"><strong>Queued:</strong> {{ task_info.queued_at }}</small>#}
{#            </div>#}
{#            <div class="badge bg-warning text-dark">Queued</div>#}
{#          </div>#}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <small class="text-muted">No tasks in queue.</small>
  {% endif %}
</div>

<!-- Running Tasks Section -->
<div>
  <h6><i class="fas fa-fw fa-bars-progress"></i> Running Tasks</h6>
  {% if data.running_tasks %}
    <ul class="list-group">
      {% for task_id, task_info in data.running_tasks.items() %}
        <li class="list-group-item bg-dark text-white small">
          <i class="fa fa-spinner fa-spin float-end"></i>
          <strong> {{ task_info.model_name }}</strong><br>
          <small class="text-muted"><strong>ID:</strong> {{ task_id }}</small><br>
          <small class="text-muted">Started: {{ task_info.started_at }}</small>

{#          <div class="d-flex justify-content-between align-items-center">#}
{#            <div>#}
{#              <strong>Model:</strong> {{ task_info.model_name }}<br>#}
{#              <small class="text-muted"><strong>ID:</strong> {{ task_id }}</small><br>#}
{#              <small class="text-muted">Started: {{ task_info.started_at }}</small>#}
{#            </div>#}
{#            <div class="spinner-border text-info" role="status">#}
{#              <span class="visually-hidden">Running</span>#}
{#            </div>#}
{#          </div>#}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <small class="text-muted">No tasks currently running.</small>
  {% endif %}
</div>