<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "SQBOT" }}</title>

    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Bootstrap 5 JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg  bg-body-tertiary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index', dataset_token=dataset_token) }}">
                <i class="fas fa-robot"></i> SQBOT
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{sqhost}}">
                            Connected as: <span class="badge bg-secondary">{{ squser.first_name }} {{ squser.last_name }}</span> on <span class="badge bg-secondary">{{ sqhost }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Container -->
    <div class="container-fluid" id="content">
        <div class="row">
            <!-- Left Column for Info -->
            <div class="col-md-4">
                <div id="dataset-info">
{#                    <div class="p-4"><i class="fa fa-spinner fa-spin fa-3x"></i></div>#}
                    <div class="spinner-border text-info"><span class="visually-hidden">Loading</span></div>
                </div>
            </div>

            <!-- Middle Column for Models -->
            <div class="col-md-6">
                <div id="model-list">
                    <div class="spinner-border text-info"><span class="visually-hidden">Loading</span></div>
                </div>
            </div>

            <!-- Right Column for Status -->
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-tasks"></i> Server status
                    </div>
                    <div class="card-body small" id="task-status">
                        <div class="spinner-border text-info"><span class="visually-hidden">Loading</span></div>
                    </div>
                </div>
            </div>

        </div>

    <script>
        $(window).ready(function(){
            var $content = $("#content");
            var $task_status = $('#task-status');
            var $dataset_info = $("#dataset-info");
            var $model_list = $("#model-list");
            function load_status() {
                $task_status.load("/status?template=subtemplates/status.html", function (){
                    // Set interval to refresh content every 10 seconds
                    setTimeout(load_status, {{cfg.status_interval*1000 or 1500}}); // 10000ms = 10s
                });
            }

            $dataset_info.load("/dataset/{{dataset_token}}", function(response, status, xhr) {
                if (status === "error") {
                    var $alert = $("<div class='alert alert-warning p-5'>")
                    var msg;
                    try {msg = JSON.parse(response).message;}
                    catch(e) {msg = "Error processing token or dataset."}
                    $content.html($alert.html(`<i class='fa fa-exclamation-triangle'></i> ${msg}`));
                    //$model_list.html("");
                }
                else {
                    $model_list.load("/model?template=subtemplates/model_list.html&token={{ dataset_token }}");
                    load_status();
                }
            });

        });
    </script>
    </div>


</body>
</html>
